/* Box size for all elements */
*, ::before, *::after {
    box-sizing: border-box;
}

/* Structure of body */
.container {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#start-container {
    width: 20px;
}

#count {
    font-size: large;
    font-weight: bold;
    color: red;
}

/* Question and paragraph font size */
p, #question-title {
    font-size: larger;
}

/* Start button format */
.btn {
    color: white;
    background-color: #333333;
    font-size: x-large;
    border-radius: 5px;
    padding: 5px;
}

.hide {
    display: none;
}